/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Fonts */

@font-face {
    font-family: 'RalewayBold';
    src: url(tip/Raleway/Raleway-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'RalewaySemibold';
    src: url(/tip/Raleway/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'FontText';
    src: url(tip/Be_Vietnam_Pro/BeVietnamPro-Medium.ttf) format('truetype');
}

/* Global Styles */
.section-title {
    font-family: "RalewayBold", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: #315280;
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
    z-index: 9999;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subsection-title {
    font-family: "RalewayBold", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #315280;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    z-index: 9999;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.subsection4-title{
    font-family: "RalewayBold", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #315280;
    font-size: 28px;
    text-align: center;
    z-index: 9999;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Header style */

.header {
    background-color: #ffffff;
    padding: 1rem 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-family: "RalewayBold", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #315280;
    border: 2px solid red;
}

.logo-subtitle {
    font-family: "RalewaySemibold", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 26px;
    color: #315280;
    border: 2px solid red;
}


.nav-menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-link {
    font-family: "RalewaySemibold", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #315280;
    transition: color 0.2s, transform 0.2s;
    text-decoration: none;
    display: inline-block;
    border: 2px solid red;
}

.nav-link:hover {
    color: #4272b5;
    transform: scale(1.1);
}


.burger-menu {
    display: none;
}

@media (max-width: 800px) {
    .burger-menu {
        display: block;
        font-size: 2rem;
        background: none;
        border: none;
        cursor: pointer;
        text-decoration: none;
        color: #315280;
    }

    .nav-menu {
        display: none;
    }
}



/* Home style */

#home {
    background: linear-gradient(111deg,
            rgba(145, 171, 208, 0.9) 50%,
            rgba(52, 85, 131, 0.81) 100%);
    padding: 4rem;
    text-align: center;
}

.profile-image {
    width: 325px;
    height: 250px;
    object-fit: fill;
    margin-bottom: 2rem;
    border-radius: 50px;
}

.home-title {
    font-family: 'FontTitles', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 2rem;
}

.home-subtitle {
    display: block;
    font-size: 32px;
    margin-top: 2rem;
}

.social-links {
    display: grid;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.social-links img {
    width: 40px;
    height: 40px;
}

/* About Me Section*/

#about-content {
    position: relative;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    text-align: center;
    overflow: hidden;
    border: 2px solid red;
}

.about-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    opacity: 0.15;
    z-index: 0;
    pointer-events: none;
    border: 2px solid red;
}

.about-text {
    font-family: 'FontText', Arial, Helvetica, sans-serif;
    font-size: 24px;
    max-width: 400px;
}

.about-titletexts {
    font-family: 'FontText', Arial, Helvetica, sans-serif;
    font-size: 28px;
    max-width: 600px;
}